

.st-emotion-cache-bho8sy.eeusbqq1 {
    display: flex;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background-color: darkgreen;
    color: rgb(255, 255, 255);
  }

  .st-emotion-cache-1ghhuty.eeusbqq1 {
    display: flex;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background-color: #2282d8;
    color: rgb(255, 255, 255);
  }

